body {
  display: flex;

  margin: 0;
  padding: 0;
}
div {
  border: 1px solid red;
}

.screen {
  width: 95em;
  height: 40em;
  background-color: rgb(37, 37, 37);
}
.remote {

  background-color: rgb(65, 65, 65);
}

