body {
  display: flex;

  margin: 0;
  padding: 0;
  background-color: rgb(209, 209, 209);
}
div {
  border: 1px solid red;
}

#screen {
  width: 80em;
  height: 45em;
}
.remote {
  background-color: rgb(65, 65, 65);
}

.c0 {
  background-color: rgb(0, 0, 0);
}
.c1 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZ3hhOGlxZml2bzhzdHZtdHBvMWR6YjllNXR4cnNyMGliem1oaXBzdiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/KwU7HpvgpMrOE/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c2 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamtjMms1dW5mN2ZlNmZiaGIwZTA0b2wzdzRzOXRyZTJlcmVkanVncSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Rn8t5GrakF5qE/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.c3 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3VjeHpzbmwybWJibHMzbWs4M21haGFuM2h6cXo4OXQ0djFpMG55bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3o7mQIMcDow8SGEGbe/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c4 {
  background-image: url(https://media.giphy.com/media/U44qxtE1MCYdcjHqaA/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c5 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNGxkOXVzNWF4YTBsbmxsMHZ1ZGpmemRiMG1oZ3h2MnNjcWMwa283NCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/rwx5xWqm0NJlkBuRYe/giphy-downsized-large.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c6 {
  background-image: url(https://media.giphy.com/media/APbMklGCGIE1BKcz9F/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c7 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWN1ZHBqNmt5MDVod3BpMzB5ZThvbXY2ZnFtNnIzeHhjcXMzcGM1ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/jUwpNzg9IcyrK/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c8 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamV5NzA1MzNvZHU4M3cwNjh5ZnVoMXh0MWg3MnpmM2d5a255cnk0diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fSYYG9MSibrmPSuIJ0/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c9 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExazZqbzBpNjRxeDZ2Y3Z4OTIyajc1NjFlaW45c3h0NjJ0eGV4Y2M1ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qyMkaC3zF16lOd0oxI/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

#canalActual, #{
  font-size: 10em;
  padding-left: 0.5em;
  color: chartreuse;
}

.hidden{
  visibility: hidden;
}