body {
  display: flex;

  margin: 0;
  padding: 0;
  background-color: rgb(209, 209, 209);
}
div {
  border: 1px solid red;
}

#screen {
  width: 80em;
  height: 45em;
}
.remote {
  background-color: rgb(65, 65, 65);
}

.c0 {
  background-color: rgb(0, 0, 0);
}
.c1 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnFqb2N3M3ZibGdyc3hvOTA1Y212Z2M5M3FiMDFicXY3bmE0NXR2NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26n6Gx9moCgs1pUuk/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c2 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGQ1dnQ3azdqenc2NjQ4YzExamIweXlwemhuYjEwMTVwcGZmZGQ0ZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTiTnxL24KsmBWUybe/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.c3 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdHhjZmo1cjFtdjAwNzRiMTV3cXdraGk5OXBkNzBja2NrYm9jNWE3bCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3BuQWTrTUfi2UTzfRy/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c4 {
  background-image: url(https://media.giphy.com/media/U44qxtE1MCYdcjHqaA/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c5 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExZjdyMjIwdXk4amdpMjcwM3diN3RwaTFiZnl1ZTRrcHFqMmNrb3NnaSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/sWQLSdcRTcJKU/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c6 {
  background-image: url(https://media.giphy.com/media/APbMklGCGIE1BKcz9F/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c7 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExaWN1ZHBqNmt5MDVod3BpMzB5ZThvbXY2ZnFtNnIzeHhjcXMzcGM1ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/jUwpNzg9IcyrK/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c8 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamV5NzA1MzNvZHU4M3cwNjh5ZnVoMXh0MWg3MnpmM2d5a255cnk0diZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/fSYYG9MSibrmPSuIJ0/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.c9 {
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExazZqbzBpNjRxeDZ2Y3Z4OTIyajc1NjFlaW45c3h0NjJ0eGV4Y2M1ZiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/qyMkaC3zF16lOd0oxI/giphy.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
.canalActual{
  text-size:
}