body {
  display: flex;

  margin: 0;
  padding: 0;
}
div {
  border: 1px solid red;
}

#screen {
  width: 70em;
  height: 40em;

}
.remote {

  background-color: rgb(65, 65, 65);
}

.c0{
  background-color: rgb(0, 0, 0);
}
.c1{
  background-image: url(https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnFqb2N3M3ZibGdyc3hvOTA1Y212Z2M5M3FiMDFicXY3bmE0NXR2NSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/26n6Gx9moCgs1pUuk/giphy.gif)
image()
}